* {
	margin: 0px;
	padding: 0px;
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
	font-family: 'Montserrat', sans-serif;
}
.checkbox label {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	color: #272727;
}
.checkbox input {
	border: 1px solid #ebebeb;
	width: 60px;
	font-family: 'Montserrat', sans-serif;
	height: 44px;
	float: left;
	width: 100%;
	font-size: 11px;
	padding: 0 10px;
	letter-spacing: 1px;
	display: inline-block;
	font-weight: normal;
	text-align: left;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.side-bar {
}
.side-bar h4 {
	font-weight: bold;
	margin: 0px;
	margin-bottom: 50px;
	position: relative;
}
.side-bar h4:before {
	content: "";
	height: 2px;
	width: 36px;
	display: inline-block;
	position: absolute;
	margin-top: 35px;
	background: #272727;
}
.side-bar .heading {
	margin-bottom: 10px;
	margin-top: 50px;
}
.side-bar .heading h6 {
	color: #af5875;
	margin: 0px;
	font-size: 12px;
	font-weight: normal;
	border-bottom: 1px solid #272727;
	display: inline-block;
	padding-bottom: 10px;
}
.side-bar .cate li {
	line-height: 40px;
	border-bottom: 1px solid #ebebeb;
}
.side-bar .cate li a {
	color: #272727;
	width: 100%;
	font-size: 12px;
	display: inline-block;
}
.side-bar .cate li a span {
	color: #b8b8b8;
}
.side-bar .cate li a:hover {
	color: #af5875;
	padding-left: 5px;
}
.side-bar .cate .drop-menu .drop-menu {
	position: relative;
	padding-top: 5px;
}
.side-bar .cate .well {
	background: none;
	border: none;
	box-shadow: none;
	padding: 0px;
}
.side-bar .cate .drop-menu .well {
	padding-left: 20px;
}
.side-bar .cate .drop-menu .well li {
}
.side-bar .cate .drop-menu a {
	display: block;
	float: none;
	position: relative;
	width: auto;
}
.side-bar .cate .drop-menu li {
	position: relative;
	line-height: 30px;
	border: none;
}
.side-bar .cate .drop-menu .well li a {
	opacity: 0.5;
}
.side-bar .cate .drop-menu .well li a:hover {
	opacity: 1;
	color: #000;
}
.side-bar .cate .drop-menu a.title:before {
	content: "\f056";
	font-family: 'FontAwesome';
	padding: 0px;
	color: #af5875;
	border-radius: 50%;
	text-align: center;
	font-size: 16px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.side-bar .cate .drop-menu a.collapsed:before {
	content: "\f055";
	color: #dfdfdf;
}
.cost-price-content {
}
.cost-price-content h5 {
	margin-bottom: 30px;
}
.noUi-background {
	margin-bottom: 20px;
}
.cost-price-content .btn {
	padding: 6px 20px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
}
.cost-price-content {
	display: inline-block;
	position: relative;
	margin-top: 45px;
	width: 100%;
}
.cost-price-content span {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 0px;
}
.price-min {
	top: -40px;
	left: 40%;
	position: absolute;
	-webkit-transform: translate(-100%, -50%);
	-moz-transform: translate(-100%, -50%);
	-ms-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}
.price-max {
	top: -40px;
	left: 60%;
	position: absolute;
	-webkit-transform: translate(-0%, -50%);
	-moz-transform: translate(-0%, -50%);
	-ms-transform: translate(-0%, -50%);
	transform: translate(-0%, -50%);
}
.noUi-background {
	margin-bottom: 20px;
}
.items-short-type {
	display: inline-block;
	width: 100%;
}
.items-short-type .grid-list {
	float: left;
}
.items-short-type .grid-list a {
	height: 30px;
	width: 30px;
	display: inline-block;
	border: 1px solid #ebebeb;
	text-align: center;
	line-height: 28px;
	color: #272727;
	margin-right: 10px;
	float: left;
}
.items-short-type .grid-list a:hover {
	background: #af5875;
	color: #fff;
	border-color: #af5875;
}
.items-short-type .grid-list a.active {
	background: #af5875;
	color: #fff;
	border-color: #af5875;
}
.short-by {
	width: 400px;
	float: left;
}
.short-by .bootstrap-select.btn-group {
	width: 140px;
	background: #fff;
}
.short-by .bootstrap-select .btn {
	background: #fff !important;
	border: 1px solid #ebebeb;
}
.short-by select {
}
.short-by .btn {
	margin-top: 0px;
}
.short-by p {
	display: inline-block;
	letter-spacing: 0px;
	font-size: 12px;
	margin-left: 10px;
	color: #bdbdbd;
	font-family: 'Montserrat', sans-serif;
}
.short-by .bootstrap-select .btn {
	height: 30px;
	padding-top: 0px;
	font-family: 'Montserrat', sans-serif;
	line-height: 30px;
	letter-spacing: 0px;
	color: #272727;
	padding-left: 10px;
	color: #bdbdbd;
}
.short-by .bootstrap-select li a {
	line-height: 22px;
	letter-spacing: 0px;
}
.short-by .bootstrap-select.btn-group .dropdown-menu li {
	width: 100%;
}
.view-num .short-by .bootstrap-select.btn-group {
	width: 32.3333%;
}
.view-num {
	float: right;
	font-family: 'Montserrat', sans-serif;
	color: #b8b8b8;
}
.view-num li {
	display: inline-block;
	float: left;
	line-height: 30px;
	font-size: 12px;
}
.view-num li a {
	color: #b8b8b8;
	font-size: 12px;
}
.view-num li a:hover {
	color: #af5875;
}
li {
	list-style: none;
}

.new-tag {
	height: 58px;
	width: 58px;
	float: right;
	position: absolute;
	background: #ababab;
	line-height: 58px;
	text-align: center;
	color: #fff;
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	z-index: 999;
	right: 20px;
	top: 20px;
	border-radius: 50%;
	font-weight:500;
}
.hot-tag {
	height: 58px;
	width: 58px;
	float: right;
	position: absolute;
	background: #af5875;
	line-height: 58px;
	text-align: center;
	color: #fff;
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	z-index: 999;
	right: 20px;
	top: 20px;
	border-radius: 50%;
}
.sub-banner {
	border-bottom: 1px solid #f3f3f3;
	border-top: 1px solid #f3f3f3;
	padding: 40px 0;
	text-align: center;
}
.sub-banner h4 {
	margin: 0px;
	letter-spacing: 5px;
	font-weight: bold;
}
.full-w {
	display: inline-block;
	width: 100% !important;
}

.btn-dark {
	color: #272727;
	border-color: #272727;
}
.btn-small {
	font-size: 10px;
}
