.product-featured-image {
  height: 300px;
  width: 100%;
  background-size: contain;
  background-position: center center;
}

.over-item {
  padding-top: 31.5% !important;
}

.over-item ul {
  width: 100%;
}

@media screen and (max-width: 490px) {
  .over-item ul {
    width: 80%;
  }

  .over-item {
    padding-top: 25.5% !important;
  }
}

@media screen and (min-width: 1885px) {
  .over-item ul {
    width: 50%;
  }

  .over-item {
    padding-top: 24.5% !important;
  }
}

.application--wrap {
  min-height: 0px !important;
}

