.product-featured-image {
  height: 300px;
  width: 100%;
  background-size: contain;
  background-position: center center;
}

.over-item {
  padding-top: 21.5% !important;
}

.over-item ul {
  width: 50%;
}

@media screen and (max-width: 490px) {
  .over-item ul {
    width: 100%;
  }

  .over-item {
    padding-top: 24.5% !important;
  }
}

